<!DOCTYPE HTML>
<html>
	<head>
		<title>Harseerat Khaira</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
		<link href="../static/bootstrap-social.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="icon" href="../static/gears.png">
	</head>
	<body class="is-preload">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand" href="/">Harseerat Khaira</a>
				</div>
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="/Articles">Articles</a></li>
				<li><a href="../static/HKhaira.pdf">Resume</a></li>
				</ul>
			</div>
		</nav>
		<div class="main-text">
			<h1 align ="center">Things I've Written</h1>
			<ul class="list-group">
				<li class="list-group-item" align='center'><a href="/stewart-platform"><strong>Designing and Building a Stewart Platform</strong></a></li>
				<li class="list-group-item" align='center'><a href="/"><strong>Sample</strong></a> </li>
				<li class="list-group-item" align='center'><a href="/"><strong>Sample</strong></a> </li>
				<li class="list-group-item" align='center'><a href="/"><strong>Sample</strong></a> </li>
				<li class="list-group-item" align='center'><a href="/"><strong>Sample</strong></a> </li>
			</ul>
		</div>
	</body>
</html>