<!DOCTYPE HTML>
<html>
	<head>
		<title>Harseerat Khaira</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
		<link href="../static/bootstrap-social.css" rel="stylesheet">
		<link rel="stylesheet" href="../static/style.css" />
		<link rel="icon" href="../static/gears.png">
	</head>
</html>